body {
    background: linear-gradient(90deg, rgba(245,224,212,1) 30%, rgba(238,176,140,1) 100%);
}

#formulario {
    width: 90vw;
    position: relative;
    top: 12vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2vw;
    row-gap: 4vh;
    grid-template-areas:
    "titulo titulo titulo titulo"
    "nome inauguracao tel ftMuseu"
    "desc desc diasFunc diasFunc"
    "cnpj estado cidade cep"
    "rua rua pontoRef pontoRef"
    "finalizar finalizar finalizar finalizar";
    margin: auto;
    padding: 20px;
}

label {
    font-size: 20px;
}

input, textarea, select, option {
    font-size: 16px;
    padding: 1px 3px;
}

#titCadastro {
    font-size: 50px;
    font-weight: 600;
    grid-area: titulo;
}

#nome {
    grid-area: nome;
}

#inauguracao {
    grid-area: inauguracao;
}

#tel {
    grid-area: tel;
}

#desc {
    grid-area: desc;
}

#descricao {
    height: 230px;
    resize: none;
}

#estado {
    grid-area: estado;
}

#estadoMuseu {
    height: 12vh;
}

#cidade {
    grid-area: cidade;
}

#rua {
    grid-area: rua;
}

#pontoRef {
    grid-area: pontoRef;
}

#cnpj {
    grid-area: cnpj;
}

#cep {
    grid-area: cep;
}

#ftMuseu {
    grid-area: ftMuseu;
}

#finalizar {
    text-align: center;
    grid-area: finalizar;
}

.botao {
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    background-color: #EEB08C;
    color: #282525;
    cursor: pointer;
    border: 2px solid #282525;
    border-radius: 30px;
    padding: 8px;
}

#nome, #inauguracao, #tel, #desc, #rua, #estado, #cidade, #pontoRef, #cnpj, #cep, #ftMuseu {
    display: flex;
    flex-direction: column;
}

#diasFunc {
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-area: diasFunc;
    border: 2px solid #282525;
    border-radius: 10px;
    padding: 5px;
}

.diaSemana {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    text-align: center;
    font-size: 18px;
}

input[type="time"] {
    width: 50px;
    text-align: center;
}

input[type="number"] {
    width: 100px;
    text-align: center;
}

#titDiasFunc {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}