/* Pagina Cadastro */

body {
    background: linear-gradient(90deg, rgba(245,224,212,1) 30%, rgba(238,176,140,1) 100%);
}

#titulo {
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-size: 65px;
    font-weight: 600;
    color: #282525;
}

#leontis {
    height: 90px;
    width: 90px;
}

.formulario {
    position: relative;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    background-color: #7C3939;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px black;
}

.formulario::-webkit-scrollbar {
    display: none;
}

.formulario > form {
    width: fit-content;
}

#finalizar {
    width: 480px;
    display: flex;
    justify-content: center;
    margin: 20px 0px 50px;
}

#submit {
    width: 260px;
    height: 45px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    background-color: #F5E0D4;
    color: #7C3939;
    transition: 0.5s;
}

#submit:hover {
    transform: scale(1.05);
    font-size: 21px;
}

#submit:active {
    transform: scale(1);
}

#submit:hover {
    cursor: pointer;
}

#titCadastro {
    font-size: 40px;
    color: #F5E0D4;
    margin: 30px 0px;
}

label {
    width: fit-content;
    font-size: 20px;
    color: #F5E0D4;
}

input {
    height: 35px;
    margin-bottom: 30px;
    padding: 0px 10px;
    font-size: 16px;
    border: solid 2px black;
    border-radius: 5px;
}