/* Pagina Cadastro */

body {
    background: linear-gradient(90deg, rgba(245,224,212,1) 30%, rgba(238,176,140,1) 100%);
}

#titulo {
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-size: 65px;
    font-weight: 600;
    color: #282525;
}

#leontis {
    height: 90px;
    width: 90px;
}

.formulario {
    position: relative;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    background-color: #7C3939;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px black;
}

.formulario::-webkit-scrollbar {
    display: none;
}

.formulario > form {
    width: 480px;
}

#submit {
    margin: 30px 0px;
}

#titCadastro {
    font-size: 40px;
    color: #F5E0D4;
    margin: 30px 0px;
}

label {
    display: flex;
    text-align: right;
    font-size: 20px;
    padding-right: 10px;
    color: #F5E0D4;
    margin-bottom: 10px;
}

input {
    border-radius: 5px;
    width: 480px;
    height: 35px;
    border: solid 2px black;
}

#enviar {
    width: 380px;
    background-color: #F5E0D4;
    color: #7C3939;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
}