/* Início */
#inicio {
    background-color: #F5E0D4;
}

#txtBox {
    width: 500px;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 170px;
    left: 130px;
}

#tituloIni {
    padding: 0px 20px;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}

#descIni {
    margin: 20px 0px;
    font-size: 30px;
    text-align: center;
}

#cadastro {
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 40px;
    background-color: #7C3939;
    cursor: pointer;
    transition: 0.3s;
    margin: 20px 0;
}

#login {
    font-size: 20px;
}

#cadastro:hover {
    transform: scale(1.02);
}

#cadastro:active {
    transform: scale(1);
}

#login > a {
    text-decoration: none;
    color: #7C3939;
}

#ilustracao1 {
    height: 500px;
    width: 500px;
    float: right;
    position: relative;
    bottom: 230px;
    right: 180px;
}

#ilustracao1 > #img {
    position: relative;
    border-radius: 5px;
    box-shadow: black 5px 5px 15px 0px;
    transition: 0.5s;
}

#ilustracao1 > #img:hover {
    transform: scale(1.01);
}

#ilustracao1 > #img:nth-child(1) {
    height: 400px;
    left: 50px;
}

#ilustracao1 > #img:nth-child(2) {
    height: 300px;
    top: -250px;
    left: 220px;
}

#ilustracao1 > #img:nth-child(3) {
    height: 200px;
    top: -415px;
}

/* Sobre o App */
#sobreApp {
    background-color: #EEB08C;
}

#tituloApp {
    width: fit-content;
    position: relative;
    top: 100px;
    left: 90px;
    font-size: 50px;
    font-weight: 600;
}

#funcionalidades {
    width: 1536px;
    height: fit-content;
    position: relative;
    top: 80px;
    padding: 20px 0px;
    overflow: auto;
    white-space: nowrap;
}

#funcionalidades ::-webkit-scrollbar {
    display: none;
}

.funcao {
    width: 400px;
    height: 500px;
    margin: 0px 20px;
    background-color: #EEB08C;
    box-shadow: 0px 0px 10px 0px #7C3939;
    border: 2px solid #7C3939;
    border-radius: 30px;
    display: inline-block;
    transition: 0.5s;
}

.funcao:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 15px 0px #7C3939;
}

/*Sobre a Empresa */
#sobreEmp {
    background-color: whitesmoke;
}

#emp {
    color:rgb(40, 238, 50);
    left: 10rem;
}

#info {
    width: 30vw;
    height: fit-content;
    padding: 20px;
    text-align: left;
    position: relative;
    top: 120px;
    left: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info > h2 {
    margin-top: 5vh;
    color: rgb(40, 238, 50);
    font-weight: 600;
}

/* Nossos Contatos */
#nossosCont{
    width: 100vw;
    height: 25vh;
    background-color: #202933;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#imgFooter{
    height: 116.55px;
    width: 122.88px;
}

.linkIntegrantes>a{
    color: #F5E0D4;
    font-size: 30px;
}

.leontisFooter{
    color: #F5E0D4;
    justify-self: left;
    text-align: center;
}

.linksFooter>a{
    color: whitesmoke;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.linksFooter{
    color: #F5E0D4;
}