#museu {
    width: 1536px;
    height: 777px;
    display: flex;
}

#infoMuseu {
    width: 768px;
    height: 621.6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 93.24px;
    overflow-x: auto;
    white-space: nowrap;
}

#infoMuseu::-webkit-scrollbar {
    display: none;
}

#infoMuseu > p, h1, div {
    white-space: wrap;
}

#nomeMuseu {
    width: 614.4px;
    font-size: 50px;
}

#descMuseu, #rua, #estadoCidade {
    width: 614.4px;
    font-size: 20px;
}

#diasFunc {
    width: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "titulo titulo titulo titulo"
    "dia abertura fechamento ingresso"
    "fechado fechado fechado fechado";
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

#titDiasFunc {
    grid-area: titulo;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}

.subtit {
    font-size: 20px;
    font-weight: 600;
}

#titDiasFunc, .dia, .abertura, .fechamento, .valorIngresso, #fechado {
    border: 1px solid black;
    border-radius: 5px;
}

.dia {
    grid-area: dia;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.abertura {
    grid-area: abertura;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.fechamento {
    grid-area: fechamento;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.valorIngresso {
    grid-area: ingresso;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#fechado {
    grid-area: fechado;
}

#fotoMuseu {
    width: 768px;
    height: 777px;
}