#sobreApp {
    height: 800px;
}
 
.titulo {
    width: fit-content;
    top: 120px;
    font-size: 50px;
    font-weight: 600;
    left: 51rem;
    position: relative;
}
 
.tituloApp{
    font-size: 50px;
    width: 500px;
    top: 250px;
    left: 10rem;
    position: relative;
}
 
#info {
    border-left: solid 5px #7C3939;
    width: 36vw;
    height: fit-content;
    padding: 20px;
    text-align: left;
    position: relative;
    top: 120px;
    font-size: 20px;
    left: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
#info > h2 {
    margin-top: 5vh;
    font-weight: 600;
}
 
.txtBox{
    width: 34vw;
    height: fit-content;
    padding: 20px;
    text-align: left;
    position: relative;
    top: 120px;
    left: 10rem;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    border-left: solid 5px #7C3939;
}
 
span .titulo{
    left: 11rem;
}
 
.txtBox h1 {
    width: 40vw;
}
 
.imagemOds{
    position: relative;
    float: right;
    clear: left;
    bottom: 290px;
    right: 13rem;
    width: 400px;
    height: 400px;
    box-shadow: black 5px 5px 15px 0px;
}
 
.diferenciais{
    background-color: #282525;
    color: #FBEDE7;
}
 
.diferenciais h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
    top: 50px;
}
 
.diferenciais h2{
    font-size: 30px;
    margin-left: 40px;
}
 
.cardsUsuarios{
    display: flex;
    justify-content: space-around;
    margin: 40px;
}
 
.cardsEmpresas{
    display: flex;
    justify-content: space-around;
    margin: 40px;
}
 
.cards{
    display: inline-block;
    border: #FBEDE7 2PX solid;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    width: 350px;
    height: 250px;
    box-shadow: 10px 5px 5px black;
}
 
.cards img{
    height: 70px;
    width: 70px;
    margin-bottom: 25px;
    margin-top: 25px;
}
 