/* Titulo do App */
.tituloApp{
    font-size: 50px;
    width: 500px;
    top: 250px;
    left: 200px;
    position: relative;
}

.mockupLeontis{
    position: relative;
    height: 550px ;
    border-radius: 50px;
    bottom: 110px;
    left: 900px;
}
/* O aplicativo */
#aplicativo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    background-color: black;
    color: whitesmoke;
    height: 730px;
    width: 1536px;
}

#imgFundo{
    z-index: 0;
    opacity: 0.5;
    position: absolute;
    height: 730px;
    width: 1536px;
}

#explicacao{
    text-align: justify;
    display: flex;
    padding: 100px;
    width: 630px;
    flex-direction: column;
    font-size:17px;
}

#explicacao h2{
    font-weight: 600;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#explicacao h3{
    width: fit-content;
}

#explicacao img{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.ilustracao{
    position: relative;
    left: 50rem;
    width: fit-content;
    bottom: 550px;
}

.ilustracao img{
    transition: 0.3s;
}

.ilustracao img:hover{
    transform: scale(1.02);
    cursor: pointer;
    transition: 0.3s;
}

.ilustracao img:nth-child(1){
    position: relative;
    top: 2rem;
    left: 2rem;
    z-index: 1;
}

.ilustracao img:nth-child(2){
    position: relative;
    bottom: 2rem;
}

.ilustracao img:nth-child(3){
    position: relative;
    top: 1.5rem;
    right: 2rem;
}

/* Diferenciais */
.diferenciais{
    background-color: #282525;
    color: #FBEDE7;
    height: 350vh;
    width: 1536px;
}
 
.diferenciais h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
}
 
.diferenciais h2{
    font-size: 30px;
    margin-left: 150px;
}
 
.cardsDisplay{
    margin: 2% 0% 2% 10%;
    row-gap: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
}
 
.cards{
    display: inline-block;
    border: #FBEDE7 2PX solid;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    width: 300px;
    height: 185px;
    transition: 0.5s;
}

.cards:hover{
    transform: scale(1.02);
}

.cards:active{
    transform: scale(1);
}
 
.cards img{
    height: 70px;
    width: 70px;
    margin-bottom: 25px;
    margin-top: 25px;
}

@media (max-width:1535px){
    .cardsDisplay{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:1200px){
    .cardsDisplay{
        grid-template-columns: 1fr;
    }
}

/* Historia */

#historia{
    background-color: #282525;
    color:#FBEDE7;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#historia img{
    margin-top: 60px;
    margin-left: 30px;
    height: 420px;
    width: auto;
    border-radius: 20px;
    border: #FBEDE7 1px solid;
}

#historia h1{
    display: flex;
    justify-content: center;
    font-size: 45px;
    margin-bottom: 20px;
}

#historia #explicacao{
    width: 50vw;
}

.titulo {
    width: fit-content;
    top: 120px;
    font-size: 50px;
    font-weight: 600;
    left: 51rem;
    position: relative;
}

span .titulo{
    left: 11rem;
}
 
.info {
    border-left: solid 5px #7C3939;
    width: 36vw;
    height: fit-content;
    padding: 20px;
    text-align: justify;
    position: relative;
    top: 100px;
    font-size: 20px;
    left: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.info > h2 {
    margin-top: 5vh;
    font-weight: 600;
}
 
#txtBox{
    width: 34vw;
    padding: 20px;
    left: 10%;
    font-size: 20px;
}
 
.txtBox h1 {
    width: 40vw;
}
 
.imagemOds{
    position: relative;
    float: right;
    bottom: 350px;
    right: 13rem;
    width: 400px;
    height: 400px;
    box-shadow: black 5px 5px 15px 0px;
}
 
.fotoObra{
    position: relative;
    height: 450px;
    left: 60px;
    bottom: 250px;
    border-radius: 30px;
}

/* Planos Futuros */
#planosFuturos{
    height: 660px;
}

#planosFuturos h1{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 50px;
}

#planosFuturos .cardsDisplay .cards{
    border-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 300px;
}