/* Titulo do App */

#comeco{
    display: flex;
    flex-direction: row;
}

.tituloApp{
    font-size: 50px;
    width: 32.5vw;
    top: 40vh;
    left: 15vw;
    position: relative;
}

.mockupLeontis{
    position: relative;
    height:70vh ;
    width: auto;
    border-radius: 50px;
    top: 16vh;
    left: 27vw;
}

/* O aplicativo */
#aplicativo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    background-color: black;
    color: whitesmoke;
    height: 100vh;
    width: 100vw;
}

#aplicativo h1{
    display: flex;
    text-align: center;
    font-weight: 600;
}

#imgFundo{
    z-index: 0;
    opacity: 0.5;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

#explicacaoLeontis{
    display: flex;
    justify-content: baseline;
    align-items: center;
}

#explicacao{
    text-align: justify;
    display: flex;
    width: 41vw;
    flex-direction: column;
    font-size:17px;
    position: relative;
    margin: 0px 100px 100px 150px;
}

#explicacao h2{
    font-weight: 600;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
}

#explicacao h3{
    width: fit-content;
}

.ilustracao{
    bottom: 30vh;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.ilustracao img{
    transition: 0.3s;
}

.ilustracao img:hover{
    transform: scale(1.02);
    cursor: pointer;
    transition: 0.3s;
}

.ilustracao img:nth-child(1){
    position: relative;
    top: 2rem;
    left: 2rem;
    z-index: 1;
}

.ilustracao img:nth-child(2){
    position: relative;
    bottom: 2rem;
}

.ilustracao img:nth-child(3){
    position: relative;
    top: 1.5rem;
    right: 2rem;
}

/* Diferenciais */
.diferenciais{
    background-color: #282525;
    color: #F5DED4;
    height: 110vh;
    width: 100vw;
}
 
.diferenciais h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 3vh;
    margin-bottom:2vw;
}
 
.diferenciais h2{
    font-size: 30px;
    margin-left: 8vw;
}
 
.cardsDisplay{
    margin: 30px 0px 100px 150px;
    row-gap: 2.6vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
}
 
.cards{
    display: inline-block;
    border: #F5DED4 2px solid;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    width: 300px;
    height: 185px;
    transition: 0.5s;
}

.cards:hover{
    transform: scale(1.02);
}

.cards:active{
    transform: scale(1);
}
 
.cards img{
    height: 70px;
    width: 70px;
    margin-bottom: 25px;
    margin-top: 25px;
}
/* Historia */

#historia{
    background-color: #282525;
    color:#F5DED4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

#historia img{
    margin-top: 6vh;
    margin-left: 1.5vw;
    height: 57.5vh;
    width: auto;
    border-radius: 20px;
    border: #F5DED4 1px solid;
}

#historia h1{
    display: flex;
    justify-content: center;
    font-size: 45px;
    margin-bottom: 2.1vh;
}

#historia #explicacao{
    margin-top: 130px;
    width: 50vw;
    margin-right: 150px;
}

#culxTec, #susCult{
    display: flex;
    flex-direction: row;
}

.titulo {
    width: fit-content;
    font-size: 50px;
    font-weight: 600;
}
 
.info {
    border-left: solid 5px #7C3939;
    width: 36vw;
    height: fit-content;
    text-align: justify;
    position: relative;
    top: 15vh;
    left: 10vw;
    padding: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.info > h2 {
    margin-top: 5vh;
    font-weight: 600;
}
 
#txtBox{
    width: 34vw;
    padding: 20px;
    left: 10%;
    font-size: 20px;
}
 
.txtBox h1 {
    width: 40vw;
}
 
.imagemOds{
    position: relative;
    float: right;
    bottom: 360px;
    right: 13rem;
    width: 400px;
    height: 400px;
    box-shadow: black 5px 5px 15px 0px;
}

#culxTec .info{
    position: relative;
    left: 55vw;
    top: 20vh;
}
 
.fotoObra{
    position: relative;
    height: 61vh;
    right: 35vw;
    top: 50px;
    bottom: 250px;
    border-radius: 30px;
}

/* Planos Futuros */
#planosFuturos{
    height: 70vh;
    margin: 10vh 0;
}

#planosFuturos h1{
    display: flex;
    justify-content: center;
    margin-top: 10.5vh;
    font-size: 50px;
}

#planosFuturos .cardsDisplay .cards{
    border-color: black;
    height: 200px;
    width:  300px;
}

@media (max-width:768px){

    #aplicativo h1{
        font-size: 48px
    }

    .mockupLeontis{
        width: fit-content;
        height: fit-content;
    }

    .assunto, #planosFuturos{
        height: fit-content;
    }
    
    .diferenciais{
        height: 1850px;
    }

    .diferenciais h1{
        margin-bottom: 70px;
        display: flex;
        text-align: center;
    }

    #comeco{
        height: fit-content;
        flex-direction: column;     
    }

    .tituloApp{
        height: fit-content;
        width: 80vw;
        left: 13vw;
        top: 13vh;
        margin-bottom: 100px;
    } 

    .mockupLeontis{
        position: static;
        width: 80vw; 
        height: auto;
        display: flex;
        align-self: center;
        margin: 10vh 0;
    }

    #explicacaoLeontis{
        flex-direction: column;
        margin-top: 60px;
    }

    #explicacao{
        width: 85vw;
        height: fit-content;
        margin: 0;
    }

    .ilustracao{
        position: static;
        width: fit-content;
        margin: 110px 0px;
    }

    .ilustracao img{
        height: 270px;
    }

    .cardsDisplay{
        grid-template-columns: 1fr;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 0;
        gap: 50px;
    }

    #historia, #culxTec, #susCul{
        flex-direction: column;
    }

    #historia img{
        height: auto;
        width: 90vw;
    }

    #historia #explicacao{
        width: 90vw;
        margin: 5vh 15vw 10vh 15vw;
    }

    .info, #txtBox{
        width: 70vw;
        height: fit-content;
        position: static;
        margin: 50px;
    }

    .titulo{
        font-size: 40px;
    }

    .imagemOds{
        position: static;
        width: 60vw;
        height: auto;
        float: none;
        margin: 0;
        display: flex;
        justify-self: center;
    }

    #culxTec .info{
        position: static;
    }

    .fotoObra{
        position: static;
        width: 90vw;
        height: auto;
        display: flex;
        align-self: center;
        margin-bottom: 100px;
    }
 }

 @media (max-width:428px){
    .titulo{
        font-size: 35px;
    }
 }